body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-image: linear-gradient(to top right, black, white);
  overflow: hidden;
}

.neoDiv {
  display: grid;
  grid-template-columns: 25vw;;
  grid-gap: 1rem;
  position: absolute;
  width: calc(50vw + 1rem);
  text-align: center;
  border: .1rem solid black;
  border-radius: .5rem;
  box-shadow: -.1rem .1rem .5rem black;
  background-color: white;
  background-clip: padding-box;
  overflow: hidden;
  filter: opacity(0);
  transition: all 250ms;
}

.neoDiv > div {

}

.name {
  grid-column: 1 / 3;
}

.name > h1 {
  margin-bottom: .5rem;
}

.name > span {
  font-size: 1.1rem;
  letter-spacing: .1rem;
}

p {
  margin: .5rem 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.size {

}

.red {

}

.green {

}

.speed {

}

.miss {
  grid-column: 1 / 3;
  display: flex;
  flex-direction: column;
}

.lunarDist {

}

.earthDist {

}

.svgDiv {
  grid-column: 1 / 3;
  background-color: black;
}

svg {
  background-color: black;
  width: calc(50vw + 1rem);
}

ellipse {
  fill: transparent;
  stroke: white;
}

.sun {
 fill: yellow;
}

.mercury {
  fill: transparent;
  stroke: orange;
}

.venus {
  fill: transparent;
  stroke: yellow;
}

.earth {
  fill: transparent;
  stroke: blue;
}

.mars {
  fill: transparent;
  stroke: red;
}

.rock {
  fill: white;
}

#buttonDiv {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
}

button {
  background: none;
  border: none;
  z-index: 1;
}

#leftArrow, #rightArrow {
  height: 8vw;
  width: 8vw;
  z-index: 1;
  background-color: transparent;
  transition: fill 500ms, opacity 500ms, transform 250ms;
}

#leftArrow:hover, #rightArrow:hover {
  fill: white;
  stroke: black;
  stroke-width: 2;
  transform: scale(.95, .95);
}
