body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: .5rem;
}

header {
  margin-bottom: 1rem;
  text-align: center;
}

#list {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: .5rem 1rem;
}

#neoDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#neoData {
  display: flex;
  flex-direction: column;
}

#neoData > button {
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: .2rem;
  margin-bottom: .5rem;
}

#description > p {
  text-indent: 1rem;
  text-align: justify;
  font-size: 1.25rem;
}

#description > p::first-letter {
  font-size: 2rem;
}

svg {
  width: 95vw;
  height: calc(100vw / 2);
  background-color: black;
}

#sun {
  fill: yellow;
}

.rock {
  fill: white;
  transform-style: preserve-3d;
}

.orbit {
  fill: rgb(0, 0, 0, 0);
}

#asteroidInfo {
  position: absolute;
  padding: .25rem;
  bottom: 0;
  right: 0;
  background-color: white;
  border: .1rem solid black;
  border-radius: .5rem;
  filter: opacity(0);
  transition: filter 250ms;
}

#asteroid {
  stroke: darkgray;
}

#mercury {
  stroke: orange;
}

#venus {
  stroke: yellow;
}

#earth {
  stroke: blue;
}

#mars {
  stroke: red;
}
